 <% if session[:logeado].nil? %>

<script type="text/javascript">
<!--
window.location = "/sessions/new"
//-->
</script>
<% end %>
<h1>Editing cliente</h1>

<%= render 'form' %>

<%= link_to 'Show', @cliente %> |
<%= link_to 'Back', clientes_path %>
